@font-face {
  font-family: 'Norse';
  src: url('norse/Norsebold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}
.container{
    display: flex;
    min-height: 100vh;
}
.lefthalf {
    background-image: url(images/kirti-kalla-JRhvllDBhzs-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    position: relative;
}
.icon{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'Norse', serif;
    font-size: 70px;
    color: #eeedec;
    height: 100px;
    margin-top: 70px;
}
.righthalf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
}
.main{
    display: flex;
    height: 50vh;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    background-color: #e9e9e9;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding: 30px;
}
.part{
    display: flex;
    gap: 100px;
}
.part > div{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', system-ui,sans-serif;
    font-weight: 400;
    color: rgb(32, 30, 30);
}
h1{
    font-family: 'Poppins',sans-serif;
    color: rgb(32, 30, 30);
}
input {
    border: 2px solid rgb(125, 125, 125);
    border-radius: 4px;
}
button{
    background-color: #c56b2c;
    border-radius: 4px;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    border: none;
    padding: 5px 30px;
    color: rgb(247, 243, 243);
    font-weight: 900;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
    margin-left: 30px;
    margin-top: 30px;
}
button:hover{
    background-color: #d98f5a;
}
button:active{
    background-color: #c56b2c;
    transform: scale(0.90);
}
input:focus{
    outline: none;
    border-color: #888;
}
input:user-invalid{
    border-color: #e63946;
    background: #e2caca;
}
input:user-invalid:focus{
    border-color: #e63946;
}
.createAccount{
    margin-left: 30px;
    margin-top: 30px;
}
.log{
    font-family: 'Inter', system-ui,sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #c56b2c;
}
.credit{
    color: white;
    font-size: xx-small;
    font-weight: 800;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}
.credit > a{
    color: white;   
}